body {
    background: #010815;
    color: #fafafa;
}

/*
img {
    float: right;
    position: fixed;
    height: 100vh;
}
*/

h1 {
    font-size: 75px;
    color: #F7931A;
}

h2 {
    color: #fafafa;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
}

#header {
    background-color: red;
}

#body {
    background-color: green;
}

#footer {
    background-color: blue;
}

.flex-child {
    height: 300px;
}