body {
    background: #010815;
}

/*
img {
    float: right;
    position: fixed;
    height: 100vh;
}
*/

h1 {
    font-size: 75px;
    color: #F7931A;
}

h2 {
    color: #fff;
}

.parent {
    display: flex;
    height: 99vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.child {
    overflow: hidden;
    margin: auto;
}