{% extends "base.html" %}

{% block content %}
<h1 class="title is-1">
    {{ section.title }}
</h1>
<ul>
    {% for page in section.pages %}
    <li>
        <a class="card" href="{{ page.permalink | safe }}">
            <article class="content">
                <h1 class="title is-3">{{ page.title }}</h1>
                <p class="is-large">
                    {{ page.summary | striptags }}
                </p>
            </article>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}